/*Navbar With Hover - Bootstrap*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    top: 2rem;
    width: 100%;
}

.site-navbar.transparent {
    background: transparent;
}

.site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.site-navbar .site-logo {
    position: relative;
    left: 0;
    font-size: 24px !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active>a span {
    background: #007bff;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 0px;
    color: #000;
    font-size: 16px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a>span {
    padding: 5px 20px;
    display: inline-block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border-radius: 30px;
}

.site-navbar .site-navigation .site-menu>li>a:hover>span {
    background: #007bff;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a span {
    position: relative;
    padding-right: 30px;
}

.site-navbar .site-navigation .site-menu .has-children>a span:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #007bff;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #007bff !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 9px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    background: #fafafb;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:after {
    position: absolute;
    right: 0;
    content: "\e315";
    right: 20px;
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    background: #fafafb;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
    color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a span,
.site-navbar .site-navigation .site-menu .has-children:focus>a span,
.site-navbar .site-navigation .site-menu .has-children:active>a span {
    background: #007bff;
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #f8f9fa;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
    padding-left: 20px;
    font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li {
    width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
    padding-left: 15px !important;
}


/*<!=======FOOTER=======>*/
.pie-pagina {
    width: 100%;
    background-color: #0d2033;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #FFF;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #FFF;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #0a1a2a;
    margin-right: 10px;
    background-color: #FFF;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

.footer-links {
    margin-left: -40px;
    list-style: none;
}

.footer-links li {
    padding: 5px 0;
    display: block;
}

.footer-links a {
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:900px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 35px 0px;
    }

    .red-social {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }
}

/*<!======Whatsapp Button======!>*/
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0DF053;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0DF053;
    background: #FFF;
}


.fondo-cenigaa {
    background-image: linear-gradient(to right, rgb(10, 10, 11), rgb(50, 49, 61), rgb(10, 10, 11)), url("../img/cenigaa_blanconegro.jfif");
    width: 100%;
}

/*Inicio del css del loader */
.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}

#svg {
    height: 150px;
    width: 150px;
    stroke: white;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.name-container {
    height: 30px;
    overflow: hidden;
}

.logo-name {
    color: #fff;
    font-size: 90%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: bolder;
}

/*fin del css del loader */

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    color: #007b5e;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: #005b4f;
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px;
}

.highlight {
    background-color: #e0f7fa;
    padding: 10px;
    border-left: 4px solid #007b5e;
    margin-bottom: 20px;
}

.container-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-top: 8rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
}

.container-content.segundo{
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.container-content.salud{
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.container-content.ODS{
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.img_ods{
    width: 150px;
}

#rut_escritura_camaracomercio{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lista-archivos {
    list-style-type: none;
    padding: 0;
    width: 80%;
}

.archivo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icono-archivo {
    margin-right: 10px;
}

.nombre-archivo {
    text-decoration: none;
    color: #007BFF;
}

.nombre-archivo:hover {
    text-decoration: underline;
}