{%extends 'base.html'%}
{%block title%}Clasificacion Esal - Cenigaa{% endblock %}

{% block css_input %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/black_nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/califiaciónESAL.css') }}"> <!--revisar la configuracion de la pagina de clasificacion esal-->
{% endblock %}

{%block content%}
<main>
    <div class="container seleccion text-center" data-aos="fade-up">
        <!-- Selector de Año -->
        <label for="calificacionSelect">Proceso de Calificación ESAL:</label>
        <div class="select-wrapper">
            <select id="calificacionSelect" onchange="mostrarArchivos()">
                <option value="2024">Proceso de calificación ESAL - 11 archivos - 2024</option>
                <option value="2023">Proceso de calificación ESAL - 17 archivos - 2023</option>
            </select>
        </div>
        <div class="container" id="proceso_clasificacion__esal__2024">
            <div class="section-title">
                <h2>Proceso de calificación ESAL 2024</h2>
            </div>
    
            <!-- Fila 1 -->
            <div class="contenedor-tarjetas-contenedor">
                <div class="tarjetas-contenedor">
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>1</h2>
                        <p>INFORME ANUAL DE RESULTADOS O INFORME DE GESTIÓN 2023</p>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/1. INFORME ANUAL DE RESULTADOS  O INFORME DE GESTION 2023.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>2</h2>
                        <p>CERTIFICACIÓN REQUISITOS CENIGAA</p>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/2. CERTIFICACION REQUISITOS CENIGAA.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>3</h2>
                        <p>ACTA DE CONSTITUCIÓN CENIGAA</p><br>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/3. ACTA DE CONSTITUCION CENIGAA.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                </div>
            </div>
    
            <!-- Fila 2 -->
            <div class="contenedor-tarjetas-contenedor">
                <div class="tarjetas-contenedor">
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>4</h2>
                        <p>Acta 14 Asamblea 2024 punto 9</p><br><br>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/4. Acta 14 Asamblea 2024 punto 9 sobre estado de las asignaciones permanentes.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>5</h2>
                        <p>CERTIFICACIÓN DE CARGOS GERENCIALES DIRECTIVOS Y DE CONTROL</p>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/5. CERTIFICACION DE CARGOS GERENCIALES DIRECTIVOS Y DE CONTROL.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>6</h2>
                        <p>DECLARACIÓN DE RENTA 2023 CENIGAA</p><br>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/6. DECLARACION DE RENTA 2023 CENIGAA.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                </div>
            </div>
    
            <!-- Fila 3 -->
            <div class="contenedor-tarjetas-contenedor">
                <div class="tarjetas-contenedor">
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>7</h2>
                        <p>ESTADOS FINANCIEROS 2023</p><br>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/7. ESTADOS FINANCIEROS 2023.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>8</h2>
                        <p>CÁMARA DE COMERCIO CENIGAA RENOVADA 2024</p>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/8. CAMARA DE COMERCIO CENIGAA RENOVADA 2024.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>9</h2>
                        <p>Acta 14 Asamblea 2024</p><br>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/9. Acta 14 Asamblea 2024.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                </div>
            </div>
    
            <!-- Fila 4 -->
            <div class="contenedor-tarjetas-contenedor">
                <div class="tarjetas-contenedor">
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>10</h2>
                        <p>ESTATUTOS CENIGAA</p><br>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/10. ESTATUTOS CENIGAA.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                    <div class="tarjeta-custom">
                        <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                        <h2>11</h2>
                        <p>DONACIONES EVENTOS COLECTIVOS</p>
                        <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2024/11. CERTIFICACION DE ANTECEDENTES 2023.pdf') }}" target="_blank">Click para ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container oculto" id="proceso_clasificacion__esal__2023">
        <div class="section-title">
            <h2>Proceso de calificación ESAL 2023</h2>
        </div>
    
        <!-- Fila 1 -->
        <div class="contenedor-tarjetas-contenedor">
            <div class="tarjetas-contenedor">
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>1</h2>
                    <p>DENOMINACIÓN, IDENTIFICACIÓN Y EL DOMICILIO DE LA ENTIDAD.</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/1. DENOMINACION, IDENTIFICACION Y DOMICILIO.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>2</h2>
                    <p>DESCRIPCIÓN DE LA ACTIVIDAD MERITORIA</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/2. DESCRIPCION DE LA ACTIVIDAD MERITORIA.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>3</h2>
                    <p>DESTINO DE LA REINVERSIÓN DEL EXCEDENTE NETO</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/3. DESTINO DE LA REINVERSION DEL EXCEDENTE NETO.pdf') }}" target="_blank">Click para ver</a>
                </div>
            </div>
        </div>
    
        <!-- Fila 2 -->
        <div class="contenedor-tarjetas-contenedor">
            <div class="tarjetas-contenedor">
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>4</h2>
                    <p>ASIGNACIONES PERMANENTES</p><br>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/4. ASIGNACIONES PERMANENTES.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>5</h2>
                    <p>CARGOS GERENCIALES DIRECTIVOS Y DE CONTROL</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/5. CARGOS GERENCIALES DIRECTIVOS Y DE CONTROL.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>6</h2>
                    <p>CERTIFICACIÓN DE ANTECEDENTES 2022</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/6. CERTIFICACION DE ANTECEDENTES 2022.pdf') }}" target="_blank">Click para ver</a>
                </div>
            </div>
        </div>
    
        <!-- Fila 3 -->
        <div class="contenedor-tarjetas-contenedor">
            <div class="tarjetas-contenedor">
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>7</h2>
                    <p>PAGO TOTAL A DIRECTIVOS</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/7. PAGO TOTAL A DIRECTIVOS.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>8</h2>
                    <p>FUNDADORES</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/8. FUNDADORES.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>9</h2>
                    <p>MONTO PATRIMONIO</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/9. MONTO PATRIMONIO.pdf') }}" target="_blank">Click para ver</a>
                </div>
            </div>
        </div>
    
        <!-- Fila 4 -->
        <div class="contenedor-tarjetas-contenedor">
            <div class="tarjetas-contenedor">
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>10</h2>
                    <p>DONACIONES</p><br>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/10. DONACIONES.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>11</h2>
                    <p>DONACIONES EVENTOS COLECTIVOS</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/11. DONACIONES EVENTOS COLECTIVOS.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>12</h2>
                    <p>INFORME DE GESTIÓN 2022</p><br>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/12. INFORME DE GESTION 2022.pdf') }}" target="_blank">Click para ver</a>
                </div>
            </div>
        </div>
    
        <!-- Fila 5 -->
        <div class="contenedor-tarjetas-contenedor">
            <div class="tarjetas-contenedor">
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>13</h2>
                    <p>ESTADOS FINANCIEROS CENIGAA 2022</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/13 ESTADOS FINANCIEROS CENIGAA 2022.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>14</h2>
                    <p>CERTIFICACIÓN REQUISITOS CENIGAA</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/14. CERTIFICACION REQUISITOS CENIGAA.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>15</h2>
                    <p>RENTA 2022 CENIGAA</p><br>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/15. Renta 2022 Ceniga (2).pdf') }}" target="_blank">Click para ver</a>
                </div>
            </div>
        </div>
    
        <!-- Fila 6 -->
        <div class="contenedor-tarjetas-contenedor">
            <div class="tarjetas-contenedor">
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>16</h2>
                    <p>ACTA 2023 ASAMBLEA 2023</p><br><br>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/16. Acta 2023 Asamblea 2023.pdf') }}" target="_blank">Click para ver</a>
                </div>
                <div class="tarjeta-custom">
                    <img class="imagen_tarjeta" src="{{ url_for('static', filename='img/pdf.png') }}" alt="Ícono del documento">
                    <h2>17</h2>
                    <p>CERTIFICACIÓN DE CARGOS GERENCIALES DIRECTIVOS Y DE CONTROL</p>
                    <a class="button" href="{{ url_for('static', filename='docs/Cenigaa-ESAL 2023/17. CERTIFICACION DE CARGOS GERENCIALES DIRECTIVOS Y DE CONTROL.pdf') }}" target="_blank">Click para ver</a>
                </div>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}
{% block scripts %}
<script>
    function mostrarArchivos() {
        var select = document.getElementById("calificacionSelect").value;

        // Esconder ambas secciones
        document.getElementById("proceso_clasificacion__esal__2023").classList.add("oculto");
        document.getElementById("proceso_clasificacion__esal__2024").classList.add("oculto");

        // Mostrar la sección correcta dependiendo del año seleccionado
        if (select == "2024") {
            document.getElementById("proceso_clasificacion__esal__2024").classList.remove("oculto");
        } else if (select == "2023") {
            document.getElementById("proceso_clasificacion__esal__2023").classList.remove("oculto");
        }
    }
</script>
{% endblock %}