{%extends 'base.html'%}
{%block title%}Ecoeficiencia Productiva - Cenigaa{% endblock %}

{% block css_input %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/black_nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/investigaciones.css') }}">
{% endblock %}

{%block content%}
<div id="primera_Carta">
  <div class="card">
      <div class="titulo">
          Primera Línea Investigativa:
          Ecoeficiencia productiva y seguridad alimentaria
      </div>
      <div class="factores">
          <p class="subtitulo">Factores Críticos de la cadena</p>
          <p><b><i>Gestión del Agua:</i></b> Uso eficiente del recurso hídrico para la producción agropecuaria y seguridad
              alimentaria.
          </p>
          <p><b><i>Manejo de Suelos:</i></b> Estrategias para el uso sostenible de suelos en actividades agropecuarias.
          </p>
          <p><b><i>Fortalecimiento Productivo:</i></b> Evaluación territorial para mejorar sectores productivos con
              soluciones técnicas
              y sociales.</p>
      </div>
      <div class="importancia">
          <p class="subtitulo">Importancia y relevancia para los sectores</p>
          <p><b><i>Gestión del Agua:</i></b> La conservación y manejo adecuado del agua asegura la sostenibilidad
              ambiental y el
              crecimiento económico del sector agropecuario.</p>
          <p><b><i>Manejo de Suelos:</i></b> Resultados científicos sobre la degradación del suelo guiarán decisiones para
              su
              restauración y conservación, ayudando a enfrentar el cambio climático y mejorar la competitividad.</p>
          <p><b><i>Fortalecimiento Productivo:</i></b> Evaluar la dinámica territorial y sus impactos permitirá definir la
              transformación de los ecosistemas para el desarrollo productivo del país.</p>
      </div>
      <div class="objetivos">
          <p class="subtitulo">Objetivos de desarrollo sostenible a los que apunta</p>
          <div class="row_ods">
              <!-- Rutas corregidas para las imágenes de los ODS -->
              <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-02.png') }}" alt="ODS 02">
              <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-06.png') }}" alt="ODS 06">
              <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-12.png') }}" alt="ODS 12">
              <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-13.png') }}" alt="ODS 13">
              <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-15.png') }}" alt="ODS 15">
          </div>
      </div>
      <div class="lineamientos">
          <p class="subtitulo">Lineamientos del PND a los que apunta</p>
          <p>Ordenamiento del territorio alrededor del agua y justicia ambiental. Catalizadores: 1, 2, 3 y 4.</p>
          <p>Seguridad humana y justicia social. Catalizadores: B y C.</p>
          <p>Derecho humano a la alimentación. Catalizadores: 1, 2, 3, 4, 5 y 6.</p>
          <p>Internacionalización, transformación productiva para la vida y acción climática. Catalizadores: A y C.</p>
          <p>Convergencia Regional. Catalizadores: 4.</p>
      </div>
  </div>
</div>


{% endblock %}