{%extends 'base.html'%}
{%block title%}Experiencia - Cenigaa{% endblock %}

{% block css_input %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/black_nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/experiencia.css') }}">
{% endblock %}

{%block content%}

<section id="inicio">
    <div class="contenedor-tiempo">
        <div class="linea"></div>
        <a href="#a1930" id="m1930" class="fecha">2010</a>
        <a href="#a1954" id="m1954" class="fecha">2011</a>
        <a href="#a1962" id="m1962" class="fecha">2012</a>
        <a href="#a1970" id="m1970" class="fecha">2013</a>
        <a href="#a1978" id="m1978" class="fecha">2014</a>
        <a href="#a1986" id="m1986" class="fecha">2015</a>
        <a href="#a1998" id="m1998" class="fecha">2019</a>
        <a href="#a2002" id="m2002" class="fecha">2020</a>
        <a href="#a2006" id="m2006" class="fecha">2021</a>
        <a href="#a2010" id="m2010" class="fecha">2022</a>
        <a href="#a2014" id="m2014" class="fecha">2023</a>
    </div>
    <img src="{{ url_for('static', filename='svg/Cenigaa.svg') }}">
    <h1>Experiencia Contractual Cenigaa</h1>
    <h2>Linea del tiempo</h2>
</section>

<section id="a1930">
    <h2 class="styled-title">Año 2010</h2>

    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Universidad Surcolombiana</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$68'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>01/12/2010-31/12/2010</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Brindar capacitación para 20 personas en vigilancia tecnologica, brindar
                    capacitación a los investigadores locales y productores de passifloras sobre los recursos agua y
                    suelo, prestar los servicios tecnologicos agroindustriales para realizar un diagnostico
                    preliminar de la oferta de granadilla en las regiones productoras de Palestina, La argentina y
                    La Plata</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Universidad Surcolombiana</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/5.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>                   
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Universidad Surcolombiana</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$37'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>24/12/2010-15/04/2011</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Aunar esfuerzos en el desarrollo de habilidades competencias conjuntas y
                    competencias basicas para la realización de ejercicios de vigilancia tecnologica en procura de
                    la creación de la unidad especializada en vigilancia tecnologica de la Universidad
                    surcolombiana.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Universidad Surcolombiana</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/15.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>                 
            </div>
        </div>
    </section>
</section>

<section id="a1954">
    <h2 class="styled-title">Año 2011</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Universidad Surcolombiana</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$421'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>07/03/2011 - 06/09/2011</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">CENIGAA apoyara el desarrollo del convenio de colaboracion DHS No 5209910 suscrito
                    entre la UNIVERSIDAD SURCOLOMBIANA y ECOPETROL S.A., en el área de servicios tecnicos movilidad
                </p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Universidad Surcolombiana</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/6.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/6.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Gobernación del Huila</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$70'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>15/05/2011 - 16/11/2011</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Realizar transferencia tecnologica y de conocimiento en tecnicas de rehabilitacion
                    de plantaciones de cacao(Injertacion lateral)y metodologias de catacion de fruto para la
                    identificacion de la calidad regional, como estrategia para el impulso del sector hacia una
                    produccion y comercializacion </p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Gobernación del Huila.</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/1.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/1.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>
</section>

<section id="a1962">
    <h2 class="styled-title">Año 2012</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Universidad Surcolombiana</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$180'900.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>13/04/2012 - -12/09/2012</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">CENIGAA apoyora a la Universidad en el desarrollo del convenio de Colaboracion No
                    5211465 suscrito entre LA UNIVERSIDAD SURCOLOMBIANA y ECOPETROL S.A ., en la aplicación de
                    herramientas tecnologicas de mayor valor en la caracterizacion compleja de aguas de produccion
                    de la SOP.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Públicos</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/3.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/3.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>INCODER</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$464'797.080</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>31/10/2012 - 31/12/2012</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">El presente convenio de Asociación tiene por objeto aunar recursos técnicos y
                    financieros y coordinar acciones entre el instituto colombiano de desarrollo rural incoder y el
                    centro de investigacion en ciencias y recursos geoagroambientales CENIGAA para realizar un
                    proyecto piloto de aplicación de la resolución 629 de 2012 que sustenten la solicitud de
                    sustracción ante el ministerio de Ambiente y desarrollo sostenible para la ocupación productiva
                    y formalización de la propiedad rural en los municipios de Acevedo, pitalito y Garzon.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">INCODER</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/8.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/8.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>

    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Universidad Surcolombiana</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$708'050.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>02/11/2012 - 01/03/2014</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">CENIGAA apoyara a la universidad en el desarrollo del Convenio de colaboración No.
                    5211532 suscrito entre la universidad Surcolombiana y ECOPETROL SA en el componente de los
                    servicios de ciencia y tecnología.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Universidad Surcolombiana</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/10.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>
    </section>
</section>

<section id="a1970">
    <h2 class="styled-title">Año 2013</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>CINDETS</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$492'200.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>03/06/2013 - 01/06/2014</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Este convenio especifico tiene por objeto la construcción de un modelo y elaboración
                    de estudios par " cumplir los requisitos tecnicos y juridicos para la sustracción de áreas de
                    reserva forestal declaradas por la ley 2 de 1959, con el fin de establecer en el territorio
                    nacional parogramas para mejorar recuperar y fortalecer la economia campesina, formalizar la
                    propiead de la tierra y contribuir a mantener la función".</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Privado</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">CINDETS</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/7.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>CENIRED</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$417'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>14/06/2013 - 31/12/2013</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Evaluación de sistemas de riego en el cultivo de cacao bajo el esquema de manejo
                    eficiente del recurso hídrico para el apoyo de la estrategia de aumento de la producción en el
                    departamento del Huila</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Privado</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">CENIRED</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/4.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/4.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>

    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>STOCKHOLM ENVIRONMENT INSTITUTE</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$21.000 USD</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>18/07/2013 - 17/01/2015</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Realizar conjuntamente proyectos y actividades de investigación, científicas y
                    academicas y tecnicas. Aunar esfuerzos humano, tecnicos, logisticos y económicos para ejecutar
                    el proyecto " Water resources planning through climate change capacity building . Rios del
                    paramo al valle por urbes y campiñas</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Cooperacion Internacional</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">STOCKHOLM ENVIRONMENT INSTITUTE</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/11.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>
    </section>
</section>

<section id="a1978">
    <h2 class="styled-title">Año 2014</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Gobernación del Huila</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$828'784.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>18/03/2014 - 17/03/2015</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Aunar recursos, capacidades y competencias interinstitucionales para la ejecución
                    del proyecto "Mejoramiento de las capacidades de gestión para la innovación tecnologica del
                    componente geoagroambiental del Huila. </p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Gobernación del Huila</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/12.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/12.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>ECOPETROL</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$491'500.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>05/12/2014 - 04/12/2015</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Anuar esfuerzos para el manejo integral del area de investigacion y educacion
                    ambiental la tribuna, municipio de Neiva, departamento del Huila</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">ECOPETROL</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/2.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/2.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>
</section>

<section id="a1986">
    <h2 class="styled-title">Año 2015</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>CEPSA COLOMBIA</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$157'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>07/01/2015 - 31/05/2015</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">El alcance de la presente orden de servicios es la presentación de los servicios
                    Estudio Integral de daño de formación en pozos del activo caracara.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Privado</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">CEPSA COLOMBIA</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/14.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>  
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>CEPSA COLOMBIA</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$38'000.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>06/05/2015 - 31/07/2017</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">El alcance de la presente orden de servicios es por diagnostico en daño en formación
                    de pozoz Ramiriqui y mayalito.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Privado</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">CEPSA COLOMBIA</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/13.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>
    </section>

    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Gobernación del Huila</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$3.814'941.143</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>03/08/2015 - 02/08/2018</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Aunar recursos, capacidades y competencias interinstitucionales para la ejecución
                    del proyecto "Análisis de la vulnerabilidad y desarrollo de implementación de medidas
                    participativas de adaptación al sector agropecuario ante impactos de cambio climatico y de la
                    vulnerabilidad climatica extrema (CCyCV) en el Departamento del Huila</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Publico</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Gobernación del Huila</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/9.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/9.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>
</section>

<section id="a1998">
    <h2 class="styled-title">Año 2019</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>ECOPETROL</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$789'768.768</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>11/01/2019 - 30/06/2020</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">“MANTENIMIENTO Y ADMINISTRACIÓN DE LA ECORESERVA LA TRIBUNA, DEL VIVERO UBICADO EN
                    EL CAMPO DE PRODUCCIÓN YAGUARÁ Y DIAGNOSTICO DE LAS AREAS DE IMPORTANCIA AMBIENTAL DE LA GDH EN
                    EL DEPARTAMENTO DEL HUILA DURANTE EL PRIMER SEMESTRE DE LA VIGENCIA 2019 CON UN USO DE OPCIÓN DE
                    6 MESES MÁS.”</p>
            </div>
            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">ECOPETROL</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/16.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/16.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>EMPRESAS PUBLICAS DE NEIVA</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$524'208.158</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>25/02/2019 - 24/11/2019</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">Actualizar el estudio de impacto ambienta (EIA) y el Plan de Manejo Ambiental (PMA)
                    para la construccion de la planta de tratamiento de aguas residuales del municipio de Neiva</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">EMPRESAS PUBLICAS DE NEIVA</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/17.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/17.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>
</section>

<section id="a2002">
    <h2 class="styled-title">Año 2020</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>ECOPETROL</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$756'658.839</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>02/12/2020 - 31/07/2023</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">MANTENIMIENTO Y ADMINISTRACIÓN DE LA ECORESERVA LA TRIBUNA, Y DEL VIVERO DEL CAMPO
                    DE PRODUCCIÓN YAGUARÁ DURANTE 5 MESES CON UN USO DE OPCIÓN DE 1 AÑO MÁS.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">ECOPETROL</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/18.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>

    </section>
</section>

<section id="a2006">
    <h2 class="styled-title">Año 2021</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>AGROSAVIA</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$252'658.203</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>09/08/2021 - 28/02/2023</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">El presente Convenio entre AGROSAVIA y CENIGAA para el desarrollo conjunto de las
                    actividades 9, 10, 11, 12 y 13, correspondientes al Objetivo Específico Nro. 3 “Estudiar la
                    dinámica poblacional D. maidis vector de Mollicutes agente causal del achaparramiento arbustivo
                    con relación a los factores agroclimáticos”, perteneciente al PROYECTO “Estudio del
                    achaparramiento arbustivo en maíz como sistema productivo de importancia alimentaria enmarcado
                    dentro de la emergencia económica, social y ecológica causada por el COVID-19 para el
                    departamento del Huila” con código BPIN 2020000100719”, financiado por el Sistema General de
                    Regalías.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">AGROSAVIA</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/20.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
                <a href="../assets/docs/Actas-finalizacion/20.pdf" target="_blank"  class="btn-act-liquidacion">Ver Act. Liquidación</a>    
            </div>
        </div>
    </section>
</section>

<section id="a2010">
    <h2 class="styled-title">Año 2022</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>Gobernación del Huila</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$3.804'833.098</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>19/07/2022 - 18/01/2025</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">AUNAR ESFUERZOS TÉCNICOS Y FINANCIEROS PARA LA
                    EJECUCIÓN DEL PROYECTO DE CIENCIA, TECNOLOGÍA E
                    INNOVACIÓN DENOMINADO "INVESTIGACIÓN DE LAS VENTAJAS
                    COMPARATIVAS DEL SUBSECTOR DEL CACAO EN EL
                    DEPARTAMENTO DEL HUILA" CON EL CÓDIGO BPIN
                    2018000100122, DE CONFORMIDAD CON LOS TÉRMINOS EN LOS
                    QUE FUE APROBADO POR EL OCAD DEL FONDO DE CIENCIA,
                    TECNOLOGÍA E INNOVACIÓN — FCTeI EN EL ACTA 057 DEL 29 DE
                    MARZO DE 2019 Y APROBADO MEDIANTE ACUERDO NO.074 DEL
                    10 DE ABRIL DE 2019.</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Públicos</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">Gobernación del Huila || Universidad Surcolombiana || CORHUILA || Servicio Nacional
                    de Aprendizaje.</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/19.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>

        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>GEOPARK COLOMBIA S.A.S.</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$74'448.000</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>01/10/2022 - 30/11/2022</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">SERVICIO PARA EL DESARROLLO UN PROYECTO DE ESTIMACIÓN DE LA PRESIÓN DE INICIO DE
                    PRECIPITACIÓN DE ASFÁLTENOS (AOP) PARA ALGUNOS CRUDOS DE LOS CAMPOS DE LLANOS-34 A TRAVÉS DE UN
                    MODELO DE INTELIGENCIA ARTIFICIAL</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Privado</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">GEOPARK COLOMBIA S.A.S.</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/21.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>
    </section>
</section>

<section id="a2014">
    <h2 class="styled-title">Año 2023</h2>
    <section class="row_tarjetas">
        <div class="card">
            <h3>Información del Contrato</h3>

            <div class="info">
                <label>Tipo de Contratista</label>
                <p>Individual</p>
            </div>

            <div class="info">
                <label>Nombre del Contratante</label>
                <p>ECOPETROL</p>
            </div>

            <div class="info">
                <label>Valor del Contrato</label>
                <p>$599'687.618</p>
            </div>

            <div class="info">
                <label>Vigencia del Contrato</label>
                <p>28/08/2023 - 28/06/2024</p>
            </div>

            <div class="info">
                <label>Objeto del Contrato</label>
                <p class="long">ADMINISTRACIÓN Y LABORES DE MANTENIMIENTO Y ADECUACIÓN DE LA ECORESERVA LA TRIBUNA,
                    BANCO DE GERMOPLASMA Y VIVERO DEL CAMPO DE PRODUCCIÓN YAGUARÁ, CON UN USO DE OPCION. TIER 3 –
                    TECNICA BASICA</p>
            </div>

            <div class="info">
                <label>Recursos</label>
                <p>Publico</p>
            </div>

            <div class="info">
                <label>Aliados</label>
                <p class="long">ECOPETROL</p>
            </div>

            <div class="card-footer">
                <a href="../assets/docs/Contratos-cenigaa/22.pdf" target="_blank" class="btn-contrato">Ver Contrato</a>
            </div>
        </div>
    </section>
</section>


{% endblock %}