{%extends 'base.html'%}
{%block title%}Toxicologia Ambiental{% endblock %}

{% block css_input %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/black_nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/investigaciones.css') }}">
{% endblock %}

{%block content%}
<div id="tercera_Carta">
  <div class="card">
    <div class="titulo">
      Tercera Linea Investigativa: Toxicología Ambiental
    </div>
    <div class="factores">
      <p class="subtitulo">Factores Críticos de la cadena</p>
      <p>Identificación de herramientas tecnológicas para mitigar impactos tóxicos en el hombre y el ambiente en
        industrias agropecuarias y mineroenergéticas.</p>
    </div>
    <div class="importancia">
      <p class="subtitulo">Importancia y relevancia para los sectores</p>
      <p>Implementación de estrategias para identificar, controlar y restringir estos productos mejorará la calidad de
        vida y las condiciones sanitarias, contribuyendo a la sostenibilidad ambiental.</p>
    </div>
    <div class="objetivos">
      <p>Objetivos de desarrollo sostenible a los que apunta</p>
      <div class="row_ods">
        <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-03.png') }}">
        <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-06.png') }}">
        <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-09.png') }}">
        <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-12.png') }}">
        <img class="ods_image" src="{{ url_for('static', filename='img/ODS/S-WEB-Goal-15.png') }}">
      </div>
    </div>
    <div class="lineamientos">
      <p>Lineamientos del PND a los que apunta</p>
      <p>Ordenamiento del territorio alrededor del agua y justicia ambiental. Catalizadores: 1, 3 y 4.</p>
      <p>Seguridad humana y justicia social. Catalizadores: B.</p>
      <p>Derecho humano a la alimentación. Catalizadores: 1, 3 y 5.</p>
      <p>Internacionalización, transformación productiva para la vida y acción climática. Catalizadores: A y C.</p>
      <p>Convergencia Regional. Catalizadores: 4.</p>
    </div>
  </div>
</div>
{% endblock %}